        #container {
            display: grid;
            grid-template-areas: "header header" "nav nav" "section section" "footer footer";
            grid-template-rows: auto auto auto;
            grid-template-columns: 1100px 1fr;
        }
        
        .header {
            grid-area: header;
            width: auto;
            height: auto;
            background-image: url(../img/background.png);
        }
        
        .header {
            display: flex;
        }
        
        .header h1 {
            color: white;
        }
        
        #nav {
            grid-area: nav;
        }
        
        #nav .menu {
            grid-area: nav;
            list-style-type: none;
            display: flex;
            background-color: ;
            margin: 0;
            left: 200px;
            top: 16px;
        }
        
        .menu li {
            margin-right: 20px;
        }
        
        #section {
            grid-area: section;
            width: 100%;
        }
        
        #section .article {
            flex: 1;
            /* ~10% */
            background: rgb(190, 26, 26);
        }
        
        #section .aside {
            flex: 7;
            /* ~70% */
            background: white;
        }
        
        #footer {
            grid-area: footer;
            background-color: rgb(211, 202, 202);
        }